:root {
    --brown: #482316;
    --light-brown: #9A4D00;
    --orange: #CE5501;
    --light-orange: #FF9205;
    --yellow: #FDD400;
    --light-yellow: #FEF857;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;

    overflow: hidden;

    height: 100vh;
    margin: 0rem;
}

header {
    grid-row: 1;

    display: grid;
    grid-template: 1fr / 1fr 3fr 1fr;

    background-color: var(--brown);
    color: white;
    font-size: large;
}

nav {
    grid-column: 2;
}

nav ul {
    list-style: none;

    display: flex;
    justify-content: space-around;
    padding: 0px;
}

nav li:hover{
    cursor: pointer;
}

nav li.selected {
    border-bottom: 2px solid var(--light-orange);
}

.main {
    grid-row: 2;

    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
}

.img-container {
    grid-column: 1;
    position: relative;
}

.img-container .info {
    position: absolute;
    right: 3rem;
    left: 50rem;
    top: 10rem;

    margin: 0rem;
    padding: 2rem;

    background-color: var(--brown);
    border: 5px solid var(--light-yellow);
    color: white;
    font-size: x-large;

    box-shadow: 0.5rem 0.5rem var(--light-yellow);
}

.info h3 {
    color: var(--yellow);
    margin: 0px;
}

.img-container img {
    height: 94vh;
    width: 100vw;
}

.img-container .credits {
    position: absolute;
    bottom: 1rem;
    color: white;
    text-align: center;
    width: 100%;
}

.credits a {
    color: white;
}

.info {
    grid-column: 2;
}